.header {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  background-color: aliceblue;
  border: 4px solid red;
  border-radius: 10px;
}

#logo {
  height: 100px;
  width: 200px;
}

#title {
  padding-left: 100px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.card {
  width: 250px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  background-color: grey;
}
.card > img {
  width: 100%;
}
